<%= render "layouts/header" %>

<main>
  <!-- ******************* 診療案内 ******************** -->
  <section class="py-5">

    <div class="container my-5">
      <h2 class="h1 font-weight-bold text-center pb-5">診療案内</h2>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <img src="img/medical-img01.jpg" alt="" class="img-fluid mb-3">
          <h3 class="h5 font-weight-bold">一般歯科</h3>
          <p class="desc">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛</p>
          <div class="text-center">
            <a class="btn btn-outline-dark" href="sample/index.html" role="button">詳しく見る</a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <img src="img/medical-img02.jpg" alt="" class="img-fluid mb-3">
          <h3 class="h5 font-weight-bold">小児歯科</h3>
          <p class="desc">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛</p>
          <div class="text-center">
            <a class="btn btn-outline-dark" href="sample/index.html" role="button">詳しく見る</a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <img src="img/medical-img01.jpg" alt="" class="img-fluid mb-3">
          <h3 class="h5 font-weight-bold">予防歯科</h3>
          <p class="desc">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛</p>
          <div class="text-center">
            <a class="btn btn-outline-dark" href="sample/index.html" role="button">詳しく見る</a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <img src="img/medical-img02.jpg" alt="" class="img-fluid mb-3">
          <h3 class="h5 font-weight-bold">矯正歯科</h3>
          <p class="desc">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛</p>
          <div class="text-center">
            <a class="btn btn-outline-dark" href="sample/index.html" role="button">詳しく見る</a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <img src="img/medical-img01.jpg" alt="" class="img-fluid mb-3">
          <h3 class="h5 font-weight-bold">口腔外科</h3>
          <p class="desc">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛</p>
          <div class="text-center">
            <a class="btn btn-outline-dark" href="sample/index.html" role="button">詳しく見る</a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <img src="img/medical-img02.jpg" alt="" class="img-fluid mb-3">
          <h3 class="h5 font-weight-bold">審美歯科</h3>
          <p class="desc">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛</p>
          <div class="text-center">
            <a class="btn btn-outline-dark" href="sample/index.html" role="button">詳しく見る</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ******************* 診療ポリシー ******************** -->
  <section class="py-5 bg-lightblue">
    <div class="container tokucho my-5">
      <h2 class="h1 font-weight-bold text-center pb-5">診療ポリシー</h2>
      <div class="row mb-4">

        <div class="col-md-7 mb-4 mb-md-0">
          <img src="img/features-img01.jpg" alt="" class="img-fluid border">
        </div>
        <div class="col-md-5">
          <h3 class="pb-3 d-flex align-items-center"><span class="display-4">01</span>タイトルが入ります</h3>
          <p>親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していた</p>
        </div>

      </div>

      <div class="row mb-4">
        <div class="col-md-7 mb-4 mb-md-0 order-md-2">
          <img src="img/features-img02.jpg" alt="" class="img-fluid border">
        </div>
        <div class="col-md-5 order-md-1">
          <h3 class="pb-3 d-flex align-items-center"><span class="display-4">02</span>タイトルが入ります</h3>
          <p>親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していた</p>
        </div>

      </div>
      <div class="row mb-4">

        <div class="col-md-7 mb-4 mb-md-0">
          <img src="img/features-img01.jpg" alt="" class="img-fluid border">
        </div>
        <div class="col-md-5">
          <h3 class="pb-3 d-flex align-items-center"><span class="display-4">03</span>タイトルが入ります</h3>
          <p>親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していた</p>
        </div>

      </div>
    </div>
  </section>
  <!-- ******************* 医療設備 ******************** -->
  <section class="py-5">
    <div class="container my-5">
      <h2 class="h1 font-weight-bold text-center pb-3">医療設備</h2>
      <p class="text-center pb-5">小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。<br>なぜそんな無闇をしたと聞く人があるかも知れぬ。</p>

      <div class="row">
        <div class="col-md-4 mb-4">
          <img src="img/facility-img01.jpg" alt="" class="rounded-circle img-fluid">
        </div>
        <div class="col-md-8 mt-lg-5">
          <h3 class="ml-lg-3">設備名が入ります</h3>
          <hr class="ml-lg-n5 border-blue border-top">
          <p class="ml-lg-3">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした</p>
        </div>
        <div class="col-md-4 mb-4 order-sm-2">
          <img src="img/facility-img01.jpg" alt="" class="rounded-circle img-fluid">
        </div>
        <div class="col-md-8 mt-lg-5 order-md-1">
          <h3 class="ml-lg-3">設備名が入ります</h3>
          <hr class="mr-lg-n5 border-blue border-top">
          <p class="ml-lg-3">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした</p>
        </div>
      </div>
    </div>
  </section>
  <!-- ******************* 院内紹介 ******************** -->
  <section class="pt-5 bg-lightblue" id="introduction">
    <div class="container mt-5">
      <h2 class="h1 font-weight-bold text-center pb-3">院内紹介</h2>
      <p class="text-center pb-5">小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。<br>なぜそんな無闇をしたと聞く人があるかも知れぬ。</p>
    </div>
    <div class="container-fluid pb-3">
      <div class="row mx-0">

        <figure class="figure col-md-3 p-0 mb-5">
          <img src="img/introduction-img01.jpg" class="figure-img img-fluid" alt="TOILLETの画像">
          <figcaption class="figure-caption">TOILLET</figcaption>
        </figure>
        <figure class="figure col-md-3 p-0 mb-5">
          <img src="img/introduction-img02.jpg" class="figure-img img-fluid" alt="診察室の画像">
          <figcaption class="figure-caption">診察室</figcaption>
        </figure>
        <figure class="figure col-md-3 p-0 mb-5">
          <img src="img/introduction-img03.jpg" class="figure-img img-fluid" alt="受付の画像">
          <figcaption class="figure-caption">受付</figcaption>
        </figure>
        <figure class="figure col-md-3 p-0 mb-5">
          <img src="img/introduction-img04.jpg" class="figure-img img-fluid" alt="待合室の画像">
          <figcaption class="figure-caption">待合室</figcaption>
        </figure>
      </div>
    </div>
  </section>
  <!-- ******************* お知らせ ******************** -->
  <section class="py-5">
    <div class="container">
      <h2 class="h1 font-weight-bold text-center pb-5">お知らせ</h2>
      <ul class="list-group list-group-flush h5">
        <li class="list-group-item d-flex justify-content-start align-items-center"><span class="mr-5">20XX/05/08</span>リスト1</li>
        <li class="list-group-item d-flex justify-content-start align-items-center"><span class="mr-5">20XX/05/08</span>リスト2</li>
        <li class="list-group-item d-flex justify-content-start align-items-center"><span class="mr-5">20XX/05/08</span>リスト3</li>
      </ul>
    </div>
  </section>
</main>
  <!-- ******************* FOOTER ******************** -->
  <footer class="footer bg-lightblue">
    <div class="container py-5">

      <div class="row">

        <div class="col-md-6">
          <h2>SAMPLE医院</h2>
          <p class="mb-0">東京都港区芝8丁目0-0 ビジネスビル1F</p>
          <p>TEL 03-1234-5678 ／ FAX 03-1234-5678</p>

          <table class="table mb-2 table-sm">
            <thead class="thead-blue text-white">
              <tr>
                <th class="pl-2">診察時間</th>
                <th scope="col" class="text-center">月</th>
                <th scope="col" class="text-center">火</th>
                <th scope="col" class="text-center">水</th>
                <th scope="col" class="text-center">木</th>
                <th scope="col" class="text-center">金</th>
                <th scope="col" class="text-center">土</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="pl-2">9:00~13:00</th>
                <td class="text-center">●</td>
                <td class="text-center">●</td>
                <td class="text-center">●</td>
                <td class="text-center">●</td>
                <td class="text-center">●</td>
                <td class="text-center">●</td>
              </tr>
              <tr class="border-bottom">
                <th scope="row" class="pl-2">15:00~18:00</th>
                <td class="text-center">●</td>
                <td class="text-center">●</td>
                <td class="text-center">－</td>
                <td class="text-center">●</td>
                <td class="text-center">●</td>
                <td class="text-center">▲</td>
              </tr>
            </tbody>
          </table>

          <p class="text-right mb-4 small"> 休診日：水曜の午後、日曜・祝日 ／ ▲ 土曜の午後は17：00まで</p>

          <div class="d-md-flex flex-row justify-content-between">
            <div class="bg-blue p-3 rounded-lg col-md-8 mr-md-3 mb-3 mb-lg-0">
              <p class="text-white h3"><span><i class="fas fa-phone mr-3"></i></span>03-1234-5678</p>
              <div class="d-flex align-items-center">
                <p class="bg-white rounded-pill px-3 py-2 mr-2 text-center h6 text-blue font-weight-bold" style="line-height: 1rem;">受付時間</p>
                <p class="text-white h6">9:00～13:00 / 15:00～19:00</p>
              </div>
              <p class="text-white">※ 水曜の午後、日曜・祝日は休診<br>※ 土曜の午後は17：00まで受付</p>
            </div>
            <div class="bg-pink p-3 rounded-lg col-md-4 mb-3 mb-lg-0">
              <p class="text-white h4"><span><i class="fas fa-envelope mr-3"></i></span>Web予約</p>
              <p class="text-white">休診日および診療時間外に関係なく24時間受付</p>
              <a class="btn bg-white" href="contact/index.html" role="button">予約する</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12963.312118305756!2d139.7671248!3d35.6812362!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1600695521427!5m2!1sja!2sjp" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
    </div>
    <div class="container-fulid">
      <div class="py-3 mb-0 border-blue border-top">
        <p class="text-center mb-0">（C）あなたのサイト名. All Rights Reserved.</p>
      </div>
    </div>

  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script>
    $(window).on('scroll', function() {
      h = $(window).height();
      $('header nav').toggleClass('fixed', $(this).scrollTop() > h)
    });

  </script>
