<!-- ******************* FOOTER ******************** -->
<footer class="footer bg-lightblue">
  <div class="container py-5">

    <div class="row">

      <div class="col-md-6">
        <h2>SAMPLE医院</h2>
        <p class="mb-0">東京都港区芝8丁目0-0 ビジネスビル1F</p>
        <p>TEL 03-1234-5678 ／ FAX 03-1234-5678</p>

        <table class="table mb-2 table-sm">
          <thead class="thead-blue text-white">
            <tr>
              <th class="pl-2">診察時間</th>
              <th scope="col" class="text-center">月</th>
              <th scope="col" class="text-center">火</th>
              <th scope="col" class="text-center">水</th>
              <th scope="col" class="text-center">木</th>
              <th scope="col" class="text-center">金</th>
              <th scope="col" class="text-center">土</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="pl-2">9:00~13:00</th>
              <td class="text-center">●</td>
              <td class="text-center">●</td>
              <td class="text-center">●</td>
              <td class="text-center">●</td>
              <td class="text-center">●</td>
              <td class="text-center">●</td>
            </tr>
            <tr class="border-bottom">
              <th scope="row" class="pl-2">15:00~18:00</th>
              <td class="text-center">●</td>
              <td class="text-center">●</td>
              <td class="text-center">－</td>
              <td class="text-center">●</td>
              <td class="text-center">●</td>
              <td class="text-center">▲</td>
            </tr>
          </tbody>
        </table>

        <p class="text-right mb-4 small"> 休診日：水曜の午後、日曜・祝日 ／ ▲ 土曜の午後は17：00まで</p>

        <div class="d-md-flex flex-row justify-content-between">
          <div class="bg-blue p-3 rounded-lg col-md-8 mr-md-3 mb-3 mb-lg-0">
            <p class="text-white h3"><span><i class="fas fa-phone mr-3"></i></span>03-1234-5678</p>
            <div class="d-flex align-items-center">
              <p class="bg-white rounded-pill px-3 py-2 mr-2 text-center h6 text-blue font-weight-bold" style="line-height: 1rem;">受付時間</p>
              <p class="text-white h6">9:00～13:00 / 15:00～19:00</p>
            </div>
            <p class="text-white">※ 水曜の午後、日曜・祝日は休診<br>※ 土曜の午後は17：00まで受付</p>
          </div>
          <div class="bg-pink p-3 rounded-lg col-md-4 mb-3 mb-lg-0">
            <p class="text-white h4"><span><i class="fas fa-envelope mr-3"></i></span>Web予約</p>
            <p class="text-white">休診日および診療時間外に関係なく<br>24時間受付</p>
            <%= link_to "予約する", "#", class: "btn bg-white", role: "button" %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12963.312118305756!2d139.7671248!3d35.6812362!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1600695521427!5m2!1sja!2sjp" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
  <div class="container-fulid">
    <div class="py-3 mb-0 border-blue border-top">
      <p class="text-center mb-0">（C）SampleClinic. All Rights Reserved.</p>
    </div>
  </div>

</footer>